.container {
    display: grid;
    grid-template-columns: 1fr, 4fr;
    grid-template-rows: repeat(auto-fit minmax(100px, 1fr));
}

.header-top {
    display: grid;
    grid-column: 2 / 3;
}

.header-bottom {
    display: grid;
    grid-column: 2 / 3;
    
}
.sidebar {
    display: grid;
}