 body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
 }

 .container {
    display: grid;
    grid-template-columns: 1fr 4fr;
 }

 .header {
   display: grid;
   grid-column: 2;
   grid-auto-flow: column;
 }

 .oldman {
   border-radius: 50%;
 }

 .profile-name {
   display: inline-block;
 }

 #search-bar {
   height: 2rem;
 }